{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPDataCenterDemo_plugin",
  "copy": true,
  "targets": {
    "MPDataCenterDemo_plugin": {
      "author": "阔悬",
      "time": "2020/03/31 15:46:22",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        }
      },
      "baseline": "10.1.60",
      "pversion": "32",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPDataCenter.framework",
        "mPaas.framework"
      ],
      "resources": [

      ]
    }
  },
  "recent": "MPDataCenterDemo_plugin"
}